<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1>Todo List</h1>
    <form action="/create" method="POST">
        <textarea rows="3" cols="40" name="content" id="content" placeholder="Type Something..." required></textarea>
        <br>
        <input type="date" name="date" id="" required>
        <select name="category" id="">
            <option value="Work">Work</option>
            <option value="Casual">Casual</option>
            <option value="Home">Home</option>
            <option value="Weekend">Weekend</option>
            <option value="Important">Important</option>
        </select>
        <br>
        <button id="create" type="submit">Create</button>
    </form>
    <form action="/destroy" method="POST">
        <button id="delete" type="submit">Delete</button>
    </form>

    <ul>
        <% for(todo of todos){ %> 
            <li class="todolist">
                <form class="check" action="/check/<%=todo._id%>" method="POST">
                    <input type="checkbox" name="check" id="todocomplete" onChange="this.form.submit()" <% if(todo.check){%>checked<%}%>>
                </form>
                <p class="content <% if(todo.check){%>linethrough<%}%>"><%= todo.content %></p>
                <p class="category <%= todo.category %>"><%= todo.category %></p>
                <br>
                <small class="date"><%= todo.date %></small>
            </li>
        <% } %>
    </ul>
</body>
</html>